.tag{
    display: block;
    max-width: 100%;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:12px;
    padding:4px 10px;
    color:#555;
    border-radius: 3px;
    float: left;
    background-color: #f0f2f5;
    line-height: 20px;
}