.myfeedback-page{
    .myfeedback-main{
        .myfeedback-item{
            padding:10px;
            background-color: #fff;
            button{
                height:34px;
                line-height: 34px;
                border-radius:3px;
                padding:0 10px;
                background-color: #ff5b05;
                border:1px solid #ff5b05;
                color:#fff;
            }
            .body{
                padding:10px 0;
            }
            .time{
                font-size:12px;
                color:#555;
            }
        }
    }
}